<!-- // Authors: Liplan Lekipising and catherine Muthoni -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/index.css" th:href="@{/index.css}" rel="stylesheet" >
    <link rel="shortcut icon" href="../static/assets/favicon.ico" th:href="@{/assets/favicon.ico}" type="image/x-icon">

    <title>Success</title>
</head>
<body>
    <h1>Added Successfully</h1>
</body>
</html>